body {
 font-size: 14px;
 line-height: 24px;
 font-family: "PT Sans Narrow";
 font-weight: 700;
 color: #000000;   
}

.main-navigation li {
 font-size: 16px;
 line-height: 20px;
 color: #ffffff;  
}

.inner-page-title {
 font-size: 30px;
 line-height: 42px;
 color: #000000;
}